body {
  margin: 0;
  background-color: #a9c9c2;
  color: #244435;
  font-family: 'Times New Roman', Times, serif;

}


.surah-list-wrapper{
  height: 180px;
  width: 100%;
  background-color: #a9c9c2;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 1000;
  top: 0px;
}

.surah-list{
  width: 98%;
  height: 150px;
  margin: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-wrap: wrap;
  overflow-x: auto;
}

.surah-item{
  width: 150px;
  height: 60px;
  margin: 4px;
  /* font-size: 18px; */
  /* border: 2px solid green; */
  background-color: #d8e8e7;
  border-radius: 6px ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.meaning{
  color: #7D977D;
  font-size: large;
}

.surah-list::-webkit-scrollbar{
  display: none;
}

.surah-item:hover{
  background-color: #244435;
  color: #d8e8e7
}
.surah-item:active{
  background-color: #285c44;
  color: #d8e8e7
}

.surah-content{
  margin-top: 180px;
  padding: 20px;
  font-size: 20px;
  text-align: justify;
}

@media(min-width: 850px){
  .surah-content-center{
    display: flex;
    justify-content: center;
  }
  .surah-content{
    width: 50%;
  }
  .surah-list-wrapper{
    height: 200px;
  }
  .surah-list{
    height: 170px;
  }
  .surah-item{
    width: 160px;
    height: 70px;
    font-size: 1.1rem;
  }
  
  .meaning{
    color: #7D977D;
    font-size: large;
  }
  
}